 body 

{
	background-color: #e8ddce;
	max-width: 100%;
	max-height: 100%;
	min-width: 50%;
	max-height: 50%;
   
}

.conttent_wrapper 

{
	width: 100%;
	height: 100%;
	min-width: 50%;
	max-height: 50%; 
}


.intro 

{
	max-width: 100%;
	max-height: 100%;
}


.intro img

{
	max-width: 33%;
	max-height: 35%;
	margin: 0 auto;
	display: block;
	border: 5px;
	border-style: dashed;
	border-color: #333;
	margin-top: 2%;
}

.intro h1

{
	font-family: Garamond, Times;
	color: #333;
	font-size: 30px;
	text-align: center;
	margin-top: 3%;
}

.hovedpunkter h2

{
	font-family: Garamond, Times;
	color: #333;
	font-size: 27px;
	text-align: center;
	margin-top: 3%;
}


.hovedpunkter h3

{
	font-family: Garamond, Times;
	color: #333;
	font-size: 25px;
	text-align: center;
	margin-top: 3%;
}
.hovedpunkter ol li, .hovedpunkter ul li

{
	font-family: Garamond bold, Times;
	color: #333;
	font-size: 20px;
	margin-left: 23%;
	margin-top: 2.5%;
}

.intro_tekst h4

{
	font-family: Garamond, Times;
	color: #333;
	font-size: 20px;
	text-align: center;
	margin-top: 4%;
}

.intro_tekst p

{
	font-family: Garamond bold, Times;
	color: #333;
	font-size: 18px;
	max-width: 100%;
	margin-left: 20%;
	margin-top: 3%;
}


.kurs img

{
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin-left: 46%;
}

.kurs h3

{
	font-family: Garamond bold, Times;
	color: #333;
	font-size: 25px;
	text-align: center;
	margin-top: 3%;
}

.kurs #kursliste ul 

{
	list-style-type: circle;
	margin-left: 22%;
}

.kurs #kursliste ul li

{	
	font-family: Garamond, Times;
	color: #333;
	font-size: 20px;
	margin-top: 2%;
}

.kurs #kursliste ul li a

{
	font-family: Garamond, Times;
	color: #333;
	font-size: 20px;
}

.kurs h4

{
	font-family: Garamond bold, Times;
	color: #333;
	font-size: 20px;
	text-align: center;
	margin-top: 3%;
}

.kurs p

{
	font-family: Garamond bold, Times;
	color: #333;
	font-size: 18px;
	margin-left: 4.5%;
	margin-top: 3%;
}	

.kurs #lover p

{
	font-family: Garamond bold, Times;
	color: #333;
	font-size: 18px;
	text-align: center;
	margin-top: 3%;
}

.erfaring img 

{
	max-width: 25%;
	max-height: 25%;
	display: block;
	margin: auto;
	margin-top: 5%;
}


.utdanning img 

{
	max-width: 25%;
	max-height: 25%;
	display: block;
	margin: auto;
	margin-top: 4%;
}

.erfaring h4, .utdanning h4, .portfolio h5 

{
	font-family: Garamond, Times;
	color: #333;
	display: block;
	margin: 0;
	font-size: 26px;
	text-align: center;
	margin-top: 3%;
}

.erfaring p

{
	font-family: Garamond, Times;
	color: #333;
	font-size: 16px;
	max-width: 100%;
	margin-left: 12%;
} 

 .utdanning p, .portfolio p 

 {
	font-family: Garamond, Times;
	color: #333;
	font-size: 16px;
	text-align: center;
} 

.portfolio a 

{	
	font-family: Garamond, Times;
	color: #333;
	font-size: 26px;
	margin-bottom: 5%;
}

.kontakt h5

{
	font-family: Garamond, Times;
	color: #333;
	font-size: 26px;
	text-align: center;
	margin-top: 3%;
}


.kontakt #kontaktinfo ul li

{
	list-style: none;
}

.kontakt #kontaktinfo li a img

{
	max-width: 35%;
	max-height: 35%;
	display: block;
	margin: auto;
	margin-top: 2%;
}	

.kontakt #kontaktinfo li h5 

{
	
	font-family: Garamond, Times;
	color: #333;
	font-size: 26px;
	text-align: center;
}


.github h5, .twitter h5 

{
	font-family: Garamond, Times;
	color: #333;
	font-size: 24px;
	text-align: center;
	margin-top: 5%;
}

.twitter ul li

{
	list-style: none;
}

.twitter li a img 

{
	max-width: 19%;
	max-height: 19%;
	display: block;
	margin: auto;
	margin-top: 4%;
}

.github ul li

{
	list-style: none;
}

.github li a img 

{
	max-width: 15%;
	max-height: 15%;
	display: block;
	margin: auto;
	margin-top: 4%;
}