 body 

{
	background-color: #e8ddce;
	max-width: 100%;
	max-height: 100%;
}

.conttent_wrapper 

{
	width: 100%;
	height: 100%;
}

.intro 

{
	max-width: 100%;
	max-height: 100%;
}


.intro img

{
	width: 35%;
	height: auto;
	margin: 0 auto;
	display: block;
	margin-top: 2%;
}

.intro h1

{
	font-family: Garamond, Times;
	color: #333;
	font-size: 30px;
	text-align: center;
	margin-top: 3%;
}

.intro h2 

{
	font-family: Garamond, Times;
	color: #333;
	font-size: 28px;
	text-align: center;
	margin-top: 3%;
}

.hovedpunkter h2

{
	font-family: Garamond, Times;
	color: #333;
	font-size: 26px;
	text-align: center;
	margin-top: 3%;
}


.hovedpunkter h3

{
	font-family: Garamond, Times;
	color: #333;
	font-size: 20px;
	text-align: center;
	margin-top: 3%;
}

.hovedpunkter ol li

{
	font-family: Garamond bold, Times;
	color: #333;
	font-size: 21px;
	margin-left: 32%;
	margin-top: 2.5%;
}

.hovedpunkter ul 

{
	margin-bottom: 3%;
}

.hovedpunkter ul li

{
	font-family: Garamond bold, Times;
	color: #333;
	font-size: 18px;
	margin-left: 29%;
	margin-bottom: 1%;
}

.intro_tekst h3

{
	font-family: Garamond, Times;
	color: #333;
	font-size: 22px;
	display: block;
	text-align: center;
}


.erfaring img 

{
	width: 30%;
	height: 30%;
	display: block;
	margin: auto;
	margin-top: 5%;
}

.erfaring h4, .utdanning h4, .portfolio h5 

{
	font-family: Garamond, Times;
	color: #333;
	font-size: 26px;
	text-align: center;
	margin-top: 3%;
}

.erfaring p

{
	font-family: Garamond, Times;
	color: #333;
	font-size: 18px;
	margin-left: 2%;
} 

.kurs h3, .erfaring h3, .utdanning h3 

{
	font-family: Garamond bold, Times;
	color: #333;
	font-size: 24px;
	text-align: center;
	margin-top: 3%;
}

.kurs h4 

{
	font-family: Garamond bold, Times;
	color: #333;
	font-size: 20px;
	text-align: center;
	margin-top: 3%;
}

.kurs img 

{
	height: auto;
	width: 35%;
	display: block;
	margin: 0 auto;
}

.kursliste ul 

{
	list-style-type: circle;
	margin-left: 24%;
	margin-top: 4%;
}

.kurs .kursliste ul li

{	
	font-family: Garamond, Times;
	color: #333;
	font-size: 20px;
	margin-top: 2%;
}

.kurs .kursliste ul li a

{
	font-family: Garamond, Times;
	color: #333;
	font-size: 20px;
}
 
.utdanning img 

{
	width: 25%;
	height: 25%;
	display: block;
	margin: auto;
	margin-top: 6%;
}

 .utdanning p, .portfolio p 

 {
	font-family: Garamond, Times;
	color: #333;
	font-size: 16px;
	text-align: center;
} 

.portfolio a 

{	
	font-family: Garamond, Times;
	color: #333;
	font-size: 26px;
	margin-bottom: 5%;
}

.kontakt 

{
	width: 100%;
}

.kontakt h5

{
	font-family: Garamond, Times;
	color: #333;
	font-size: 26px;
	text-align: center;
	margin-top: 3%;
}


.kontakt #kontaktinfo ul li, .twitter ul li

{
	list-style: none;
}

.kontakt #kontaktinfo li a img 

{
	max-width: 18%;
	display: block;
	margin: 0 auto;
}

.kontakt #kontaktinfo li h5  

{
	font-family: Garamond, Times;
	color: #333;
	font-size: 26px;
	text-align: center;
}

.github h5

{
	font-family: Garamond, Times;
	color: #333;
	font-size: 20px;
	text-align: center;
}

.github ul li

{
	list-style: none;
}

.github li a img 

{
	width: 15%;
	height: auto;
	display: block;
	margin: 0 auto;
}