 body 

{
	background-color: #e8ddce;	
}

.conttent_wrapper 

{
	width: 100%;
	height: 100%;
}

.intro 

{
	max-width: 100%;
	max-height: 100%;
}

#twitter-widget-0 

{ 
      width: 100% !important;
      height: 30%; 
}

#twitter-widget-0.tweet  

{
      padding: 12px 12px 12px 29px !important;
      margin: 0; 
}

.intro img

{
	width: 50%;
	height: auto;
	margin: 0 auto;
	display: block;
	border: 5px;
	border-style: dashed;
	border-color: #333;
	margin-top: 2%;
}

.intro_tekst h3

{
	font-family: Garamond, Times;
	color: #333;
	font-size: 19px;
	text-align: center;
	margin-top: 3%;
}


.erfaring, .kurs, .utdanning

{
	margin: 0;
} 

.kurs h3, .erfaring h3, .utdanning h3 

{
	font-family: Garamond bold, Times;
	color: #333;
	font-size: 24px;
	text-align: center;
	margin-top: 5%;
}

.kurs #kursliste ul 

{
	list-style-type: circle;
	margin-left: 18%;
}

.kurs #kursliste ul li

{	
	font-family: Garamond, Times;
	color: #333;
	font-size: 20px;
	margin-top: 2%;
}

.kurs #kursliste ul li a

{
	font-family: Garamond, Times;
	color: #333;
	font-size: 20px;
}
 

.erfaring img, .kurs img, .utdanning img 

{
	width: 35%;
	height: auto;
	display: block;
	margin: 0 auto;
	margin-top: 8%;
}


.portfolio 

{
	margin-top: 5%;
}

.portfolio p 

 {
	font-family: Garamond, Times;
	color: #333;
	font-size: 16px;
	text-align: center;
} 

.portfolio a 

{	
	font-family: Garamond, Times;
	color: #333;
	font-size: 26px;	
}

.kontakt 

{
	width: 100%;
	margin: 0;
}

.kontakt h5

{
	font-family: Garamond, Times;
	color: #333;
	font-size: 26px;
	text-align: center;
}


.kontakt #kontaktinfo ul li

{
	list-style: none;
	width: 100%;
}

.kontakt #kontaktinfo li h5 

{
	
	font-family: Garamond, Times;
	color: #333;
	font-size: 26px;
	text-align: center;
}

.github ul li

{
	list-style: none;
}

.github h5 

{
	font-family: Garamond, Times;
	color: #333;
	font-size: 24px;
	text-align: center;
	margin-top: 5%;
}

.github li a img 

{
	width: 16%;
	height: auto;
	display: block;
	margin: 0 auto;
	margin-top: 4%;
}